<form [formGroup]="priceFilterForm" class="price-filter-form" autocomplete="off" novalidate (ngSubmit)="onSubmit()">
	<div class="form-group">

		<!-- Price From Select -->
		<label for="price-min">Min Price</label>
		<select id="price-min" class="form-control" name="pricemin" [(ngModel)]="priceMinFilter" 
				formControlName="priceMin">
			<option value="0">any</option>
			<option *ngFor="let _priceMin of _priceOptions" [value]="_priceMin.productPrice" >
				{{ _priceMin.productPrice | currency:'USD':true:'1.0-2'}}
			</option>
    </select>

		<!-- Price To Select -->
		<label for="price-max">Max Price</label>
		<select id="price-max" class="form-control" name="pricemax" [(ngModel)]="priceMaxFilter" 
			formControlName="priceMax">
			<option value="">any</option>
      <option *ngFor="let _priceMax of maxPriceOptions" [value]="_priceMax.productPrice" >
					{{ _priceMax.productPrice | currency:'USD':true:'1.0-2'}}
			</option>
    </select>

		<button type="submit" (click)="onSubmit()">Filter by Price!</button>

	</div>
</form>